{% load humanize %} {% load thumbnail %}

<ul class="p-0 m-0" id="post-{{post.pk}}-comments-div"
  hx-confirm="Are you sure you want to delete this response?"
  hx-target="#post-{{post.pk}}-comments-div"
  hx-swap="outerHTML" >
  {% for comment in comments %}
  <li>
    <hr/>
    <div class="post__user m-0 p-0 user vcard inline-items d-flex justify-content-between">
      <div class="user-thumb d-flex">
        <a class="my-auto">
          {% if comment.user.profile.picture %}
          <img
            class="small-image"
            src="{% thumbnail comment.user.profile.picture 100x100 crop %}"
            alt="{{ comment.user.profile.name_initials }}"
          />
          {% else %}
          <div class="h5 small-image bg-now d-flex">
            <span class="m-auto">
              {{ comment.user.profile.name_initials }}
            </span>
          </div>
          {% endif %}
        </a>
        <div class="my-auto d-flex">
          <a class="post__user-name" href="{% if request.user == comment.user %}{% url 'my_timeline' %}
            {% else %}{% url 'user_timeline' comment.user.profile.slug %}{% endif %}">
            {{ comment.user.profile.name }}
          </a>
          <s class="main-btn my-auto py-1">
            <a data-href="{{ comment.user.circles.get_api_follow_url }}" class="follow-btn"
              data-followers="{{comment.user.circles.followers.count}}">
              {% if request.user in comment.user.circles.followers.all %}
              Unfollow {% else %} Follow {% endif %}
            </a>
          </s>
          <s class="my-auto ml-2">
            <time class="published">
              <span>{{ comment.comment_date|naturaltime }}</span>
            </time>
          </s>
        </div>
      </div>
      <div class="more bg-now rounded rounded-circle my-auto px-2 bi bi-three-dots h2" style="right: 0">
        {% if request.user == comment.user %}
        <ul class="more-dropdown">
          <li>
            <a
              class="cursor-pointer"
              hx-delete="{% url 'delete_response' comment.pk %}"
              hx-target="#post-{{post.pk}}-comments-div"
            >
              Delete response
            </a>
          </li>
        </ul>
        {% else %}
        <ul class="more-dropdown">
          <li>
            <a>Report response</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
    <p>{{ comment.comment|truncatechars_html:"200" }}</p>
    </p>
  </li>
  {% endfor %}
</ul>
