{% extends 'main.html' %}
{% load static %}
{% load custom_tags %}
{% mycurrency as mycurrency %}
{% load humanize %}
{% block title %}Wishlist - {{site_config.name}}{% endblock title %}
{% block home %}
<main class="main">
    <div class="page-header text-center">
    	<div class="container">
    		<h1 class="page-title">Wishlist<span>{{site_config.name}}</span></h1>
    	</div><!-- End .container -->
    </div><!-- End .page-header -->
    <div class="page-content">
    	<div class="container">
			<div class="empty-wishlist {% if wishlist.0.product.all|length > 0 %}d-none{% endif %}">
				<div class="d-flex flex-fill justify-content-center">
					<div class="d-flex flex-column align-items-center">
						<i class="fas fa-shopping-cart fa-4x"></i>
						<h5 class="mt-2">Wishlist is empty</h5>
						<a href="/" class="btn btn-outline-warning btn-block mb-3"><i class="fas fa-long-arrow-alt-up"></i><span>Go Shop</span></a>
					</div>
				</div>
			</div>
			<table class="table table-wishlist table-mobile {% if wishlist.0.product.all|length == 0 %}d-none{% endif %}">
				<thead>
					<tr>
						<th>Product</th>
						<th>Price</th>
						<th>Stock Status</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for item in wishlist.0.product.all %}
					<tr id="item{{item.id}}">
						<td class="product-col">
							<div class="product">
								<figure class="product-media">
									<a href="#">
										<img src="{{item.image.url}}" alt="Product image">
									</a>
								</figure>
								<h3 class="product-title">
									<a href="/products/{{item.id}}">{{item.title}}</a>
								</h3><!-- End .product-title -->
							</div><!-- End .product -->
						</td>
						<td class="product-price">
							<ul class="pt-2">
								<li><span class="new-price">{{mycurrency.1}}{{item.price}}</span></li>
								<li><span class="old-price"><span>{{mycurrency.1}}{{item.main_price}}</span> ({% if item.discount_type == 'Fixed' %}-{{mycurrency.1}}{{item.discount}}{% else %}-{{item.discount}}%{% endif %})</span></li>
							</ul>
						</td>
						{% if item.amount > 0 %}
							<td class="stock-col"><span class="in-stock text-success">In stock</span></td>
						{% else %}
							<td class="stock-col"><span class="in-stock text-danger">Out of stock</span></td>
						{% endif %}
						<td class="action-col">
							{% if item.amount > 0 %}
								{% if item.pro_color|length > 0 or item.size|length > 0 or item.pro_option %}
									<a class="btn btn-outline-warning view" href="/products/{{item.id}}">View Options</a>
								{% else %}
									<button class="btn-product btn-cart" title="Add to cart" onclick="AddProduct({{item.id}}, 'no')">add to cart</button>
								{% endif %}
                            {% else %}
								<button class="btn btn-block btn-outline-primary-2 disabled">Out of Stock</button>
							{% endif %}
						</td>
						<td class="remove-col"><button class="btn-remove" onclick="WishItemDelete({{wishlist.0.id}}, {{item.id}})"><i class="fas fa-trash text-danger"></i></button></td>
					</tr>
					{% endfor %}
				</tbody>
			</table><!-- End .table table-wishlist -->
    	</div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

{% include 'contrib/fragments/wishjs.html' %}

{% endblock custom %}