{% extends 'accounts/LandingPage.html' %}

{% load static %}
{% block signup %}


<link rel="stylesheet" href="{% static 'home/Bootstrap/dist/css/bootstrap.css' %}">

<link href="{% static 'home/css/ajoreb.css' %}" type="text/css" rel="stylesheet" media="all">

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<div class="container">
  <div class="col bg-transparent col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <h5 class="card-title text-center">
      <b>An email has been sent with instructions to reset your
        password.</b>
    </h5>
    <form class="form-signin">
      <div class="form-group">
        <a class="btn btn-lg btn-warning btn-block text-uppercase" href="https://mail.google.com/mail/u/0/">Open
          Gmail</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}