{% extends 'accounts/LandingPage.html' %}

{% load static %}
{% block signup %}


<link rel="stylesheet" href="{% static 'home/Bootstrap/dist/css/bootstrap.css' %}">

<link href="{% static 'home/css/ajoreb.css' %}" type="text/css" rel="stylesheet" media="all">

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

<div class="container">

  <form class="form-signin" method="POST">
    <div class="col bg-transparent col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
      {% csrf_token %}
      <fieldset class="form-group">
        <br />
        {{ form }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
          Request Password Reset</button><br />
      </div>
    </div>
  </form>
</div>
{% endblock %}