{% load static %}

<footer>
    <div class="grid-rows">
        {% comment %} {% include 'mall/footblock.html' %} {% endcomment %}
        <div class="grid-row grid-row-3">
            <div class="grid-cols">
                <div class="grid-col grid-col-1">
                    <div class="grid-items">
                        <div class="grid-item grid-item-1">
                            <div class="links-menu links-menu-77">
                                <span class="links-text">Copyright © {{ current_year }},
                                    {{ site_name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-col grid-col-2">
                    <div class="grid-items">
                        <div class="grid-item grid-item-1">
                            <div class="icons-menu icons-menu-273">
                                <ul>
                                    <li class="icons-menu-item  icon-menu-icon">
                                        <a href="https://www.#">
                                            <span class="links-text">Privacy</span>
                                        </a>
                                    </li>
                                    <li class="icons-menu-item  icon-menu-icon">
                                        <a href="https://www.#">
                                            <span class="links-text">Terms</span>
                                        </a>
                                    </li>
                                    <li class="icons-menu-item  icon-menu-icon">
                                        <a href="https://www.#">
                                            <span class="links-text">Security</span>
                                        </a>
                                    </li>
                                    <li class="icons-menu-item  icon-menu-icon">
                                        <a href="https://www.#">
                                            <span class="links-text">Help</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>